<tr id="participantScore{{ participantId }}">
  <td class="champion-image">
    <img src="{{ image.full }}"/>
  </td>
  <td class="kills">
    0
  </td>
  <td class="deaths">
    0
  </td>
  <td class="assists">
    0
  </td>
</tr>