<button id="newRoom">New Room</button>

<div class="minimap">
  <ul class="sprite-list"></ul>
</div>

<table class="bets">
  <thead>
    <tr>
      <td>Champ</td>
      <td>Kills</td>
      <td>Deaths</td>
      <td>Assists</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>