<button id="replay">Go!</button>
<table>
  <tbody>
    <tr>
      <td>
        <table class="bets team1">
          <thead>
            <tr>
              <td>Champ</td>
              <td>Kills</td>
              <td>Deaths</td>
              <td>Assists</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </td>
      <td>
        <table class="bets team2">
          <thead>
            <tr>
              <td>Champ</td>
              <td>Kills</td>
              <td>Deaths</td>
              <td>Assists</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
